body {
    margin: 0:
    background-color: orange    
}

header {
    position: relative;
    padding-left: 100px
}

nav{
    position: absolute;
    top: 0;
    right: 100px;
}

img{
    width: 20px;
}

dhuema{
    padding-left: 100px
    
}